* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
}

body {
    background-color: #dedada;
}

main{
    background-color: #ffffff;
    width: 100%;
    max-width: 980px;
    height: 600px;
    margin: 10px auto 0 auto;
    border-radius: 20px;
    padding-top: 50px;
}


#add_task {
    border-style:ridge;
    background-color: dodgerblue;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 60px;
}

#add_section {
    border-style:ridge;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
}

hr {
    margin-top: 50px;
}